# Core LlamaIndex library and its integrations
llama-index-core
llama-index-llms-google-genai
llama-index-embeddings-huggingface
llama-index-readers-file
#llama-index-postprocessor-flashrank
flashrank==0.2.10

# Underlying dependencies for the above integrations
PyMuPDF
torch
transformers
sentence-transformers
gradio
#flashrank