# Core LlamaIndex library and its integrations
--extra-index-url https://download.pytorch.org/whl/cpu
llama-index-core
llama-index-llms-google-genai
llama-index-embeddings-huggingface
llama-index-readers-file
#llama-index-postprocessor-flashrank
llama-index-postprocessor-flashrank-rerank==0.2.1
flashrank==0.2.10

# Underlying dependencies for the above integrations
PyMuPDF
torch==2.3.1
#torch
transformers
sentence-transformers
gradio
#flashrank